/* AppComponent's private CSS styles */
h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-left: 20px;
  margin-top: 20px;
}

nav {
margin-left: 20px;
}

nav a {
  border: solid 1px #ccc;
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 2px;
  margin-bottom: 1em;
}
nav a:visited, a:link {
  color: black;
}

nav a:hover {
  color: black;
  background-color: #ccc;
}

nav a.active {
  color: black;
  background-color: #ccc;
}