<h3>Muokkaa tehtäviä</h3>
<ul class="tasklist">
  <li *ngFor="let task of tasklist">
    <a routerLink="/detail/{{task.id}}">
    {{task.name}}
    </a>
    <button class="delete" title="delete task" (click)="delete(task)">x</button>
  </li> 
</ul>
<br>

<div>
<table>
  <tr>
    <th>Tehtävä</th>
    <th>Aika</th>
    <th></th>
  </tr>
  <tr>
    <td><label><input #taskName /></label></td>
    <td><label><input #taskTime /></label></td>
    <td><button (click)="add(taskName.value, taskTime.value); taskName.value=''; taskTime.value=''">
      Lisää
    </button></td>
  </tr>
</table>
</div>
