<h3>Edit Tasklist</h3>
<ul class="tasklist">
  <li *ngFor="let task of tasklist">
    <a routerLink="/detail/{{task.id}}">
      <span class="badge">{{task.time}}</span> {{task.name}}
    </a>
    <button class="delete" title="delete task" (click)="delete(task)">x</button>
  </li>
</ul>

<div>
  <label>Task name:
    <input #taskName />
  </label><br>
  <label>Task time:
    <input #taskTime />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(taskName.value, taskTime.value); taskName.value=''; taskTime.value=''">
    add
  </button>
</div>