h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 20px;
    padding-top: 0;
  }
  
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 0px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }

  table {
      margin-left: 20px;
  }